body{
    background-color: antiquewhite;
}
#mynavbar{
    background-color: brown;
}
/* .nav-link{
    background-color: blanchedalmond;
} */
#mynavbar li{
    background-color: white;   
    margin: 30px;
    height: 30px;
    width: 110px;
    border-radius: 15px;    
    text-align: center;
    align-items: center;
    
}
#mynavbar a{
    color: brown;
    font-weight: bold;
    vertical-align: middle; 
    
}
#hero{
    
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
   
}

#about{
    text-align: justify;   
}
h2{
    color: brown;
    text-align: center;
}

footer{
    background-color: indianred;
}
li{
  color: white;
  line-height: 1px;
  
}
ul {
    list-style-type: square;
  }

